/.gradle
/.idea
/.kotlin
/build
/deps
/modules

/libs/fleks/.gitignore
/libs/fleks/build.gradle
/libs/korge-fleks/.gitignore
/libs/korge-fleks/build.gradle

*.iml
*.hprof
*.log
korge.keystore
local.properties
src/main/*
.DS_Store

/src/commonMain/resources/save_game.json
